.about__content{
    background-color: aqua;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 15px;
    border-radius: 30px;
    align-items: center;
    font-size: 20px;
    align-items: center;
    margin-top: 200px;
    height:45vh;
    width:70vh;
    box-shadow:0 5px 6px rgba(114, 137, 186, 425),0 2px 3px rgba(112, 154, 167, 100);
    margin-left: 350px;
    
}
.about__content > p {
   text-align: center;
   padding: 20px 10px 20px 10px;
   font-family: cursive;
}
.about__content > p:hover{
    transform:scale(0.9);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: progress;
}
